<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>

    <!--to display the messages we have to use the following tag-->
      {% for message in messages %}
       <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">

        <!--for displaying as bold-->
        <strong>Message:</strong> {{ message }}

        <!--for closing the message tag--> 
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">      
        <span aria-hidden="true">&times;</span>
        </button>
        </div>
        {% endfor %} 

    <h3>Welcome to Online Event Management System</h3>

<!--if user is successfully login display the following things-->
{% if done == 1 %}
<h3>Hello {{ fname }}!</h3>
<br>
<h4>You're successfully logged in.</h4> 
<button type="submit"><a href="/LogOut">LogOut</a></button>
{% else %} 
<button type="submit"><a href="/Register">Registers</a></button>
<button type="submit"><a href="/Login">LogIn</a></button>
<br>
{% endif %}
</body>
</html>