{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Google font link for icons-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap">

    {% comment %} <link rel="stylesheet" href="{% static 'styles.css' %}"> {% endcomment %}
    <title>Forget password</title>
    <link rel="stylesheet" href="{% static 'CSS/style.css' %}">
</head>
<body>
     <!--to display the messages we have to use the following tag-->
   {% for message in messages %}
   <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">

   <!--for displaying as bold-->
   <strong>Message:</strong> {{ message }}
   
   <!--for closing the message tag--> 
   <button type="button" class="close" data-dismiss="alert" aria-label="Close">      
   <span aria-hidden="true">&times;</span>
   </button>
   </div>
   {% endfor %} 

  <div class="container">
  
        <p>
            your password has been set. you may go ahed and <a href = "{% url 'login' %}">Login </a> now.
        <P>
  
   </div>
</body>
</html>  
