@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');
body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Add this line to prevent horizontal scrolling */
}

header{
    border-bottom: 1px solid black;
}

header h2{
    margin-top: 40px;
    margin-bottom: 10px;
    margin-left: 80px;
}
.contactusheader{
    min-height: 50px;
}

.contactusform h1 {
	text-align: center;
	margin-top: 30px;
	margin-bottom: 30px;
}

.contactusform h2 {
	text-align: center;
    margin-bottom: 20px;
}

.contactusform {
    /*border-radius: 40px;*/
	max-width: 500px;
    margin: 30px auto;
	padding: 20px;
	background-color: white;
	border-radius: 4px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contactusform label {
	display: block;
	font-weight: bold;
}

.contactusform input[type="text"], input[type="textarea"]{
	width: 100%;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	margin-bottom: 20px;
	font-size: 16px;
}

.cutxt{
    width: 100%;
    max-width: 100%;
    min-height: 100px;
}

.contactusbutton{
    justify-content: space-around;
    width: 30%;
}