
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>photographer Form</title>
    <link rel="stylesheet" href="{% static 'css/addphotographer.css' %}">

</head>
<body>



<div class="container">
    <div class="card">
        <a href="{% url 'photographer_list' %}">
         <img src="{% static 'images/logo.png' %}" alt="Your Logo" class="logo" height="auto" width="100px">
        </a>
        <h2>Add photographer</h2>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
                <label for="id_Name">User Name:</label>
                {{ form.Username }}
            </div>
            
            <div class="form-group">
                <label for="id_Type">Phone Number:</label>
                {{ form.Phone_Number }}
            </div>
            <div class="form-group">
                <label for="id_Type">Email:</label>
                {{ form.Email }}
            </div>
            <div class="form-group">
                <label for="id_Description">Description</label>
                {{ form.Description}}
            </div>
            <div class="form-group">
                <label for="id_Description">Event Type</label>
                {{ form.Event_type}}
            </div>
            <div class="form-group">
                <label for="id_Cost">Cost:</label>
                {{ form.Cost }}
            </div>
            {% comment %} <div class="form-group">
                <label for="id_photographer_image">photographer Image:</label>
                {{ form.Photographer_image }}
            </div> {% endcomment %}
            <div class="form-group">
                <label for="id_Photographer_image">photographer Image:</label>               
                <input type="file" name="Photographer_image" id="id_Photographer_image" onchange="previewImages(this);" multiple>
                <div id="imagePreview"></div>
            </div>
            <button type="submit">Submit</button>
        </form>
    </div>
</div>

<div style="margin-top: 100px;">

</div>
<script>
    function previewImages(input) {
        var preview = document.getElementById('imagePreview');
        preview.innerHTML = '';
        if (input.files) {
            var filesAmount = input.files.length;
            for (var i = 0; i < filesAmount; i++) {
                var reader = new FileReader();
                reader.onload = function (event) {
                    var img = document.createElement('img');
                    img.src = event.target.result;
                    img.setAttribute('class', 'preview-image');
                    img.style.height = '200px'; // Change height here
                    img.style.width = '200px'; // Change width here
                    preview.appendChild(img);
                }
                reader.readAsDataURL(input.files[i]);
            }
        }
    }
</script>
</body>
</html>

