{% comment %} <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Venue</title>
</head>
<body>
    <h1>Update Venue</h1>
    <form method="post" action="{% url 'update_venue' venue_id=venue.id %}" enctype="multipart/form-data">
        {% csrf_token %}
        {% comment %} <input type="hidden" name="id" value="{{ venue.id }}"> {% endcomment %}
        {% comment %} {{ form.as_p }}
        <button type="submit">Update Venue</button>
    </form>
</body>
</html> {% endcomment %} 


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Venue</title>
</head>
<body>
    <h1>Update Venue</h1>
    {% if venue.id %}
    <form method="post" action="{% url 'update_venue' venue_id=venue.id %}" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Update Venue</button>
    </form>
    {% else %}
    <p>Error: Venue ID is empty.</p>
    {% endif %}
</body>
</html>

